* {
	color: blue;
}

/* it is css comment */
.sulman{      
background-color: yellow;
text-transform: uppercase;	
border: 3px solid red;
/*
border-radius: 5px 10px 30px 1px;
height: 200px;
*/
width: 225px;
padding: 20px 10px;
}